<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;900&display=swap" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>
<body>
    <form method="post" action="/postadmin">
        <input type="text" id="fname" name="fname" placeholder="player name"><br>
        <input type="text" id="lname" name="lname" placeholder="player team"><br>
        <input type="submit" value="Submit">
      </form> 
</body>
</html>
