<!DOCTYPE html>
<html lang="en">
<head>
    <!-- setting the required refereneces and stylesheets -->
    <link rel="stylesheet" href="static\combined.css?<?php echo date('l jS \of F Y h:i:s A'); ?>">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;900&display=swap" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

</head>
<body>
    <!-- creating a class called header which contains a h1 tag-->
    <div class="header">
        <h1>Paris Saint-Germain</h1>
    </div>

    <h1 class="text1">PSG STATISTICS</h1>
    <h1 class="text2">PSG PLAYER STATISTICS</h1>

    <!-- creating a table where the header and datacells are manually entered-->
    <table class="teamTable">
        <tr>
            <th>Club Name</th>
            <th>Year Founded</th>
            <th>Current League</th>
            <th>League Titles</th>
            <th>Champions League Titles</th>
            <th>Current League Record</th>
        </tr>
        <tr>
            <td>Paris SG</td>
            <td>1970</td>
            <td>Ligue 1</td>
            <td>10</td>
            <td>0</td>
            <td>24-6-4</td>
        </tr>

    <table>
    
    <!-- creating a table where the data cells are populated through the mysql connection -->
    <table class="playerTable">
        <tr>
            <th>Player Name</th>
            <th>Player Team</th>
            <th>Player Position</th>
            <th>Total Goals</th>
            <th> Total Assists</th>
            <th>Team Trophies</th>
        </tr>
        {% for user in userDetails %}
        <tr>
            <td class = "user1">{{user[1]}}</td>
            <td>{{user[2]}}</td>
            <td>{{user[3]}}</td>
            <td>{{user[4]}}</td>
            <td>{{user[5]}}</td>
            <td>{{user[6]}}</td>
        </tr>
        {% endfor %}
    <table>
</body>
</html>
