/* setting the color of the background */
body {
    background-color: rgb(0, 0, 0);
  }
/* assigns properties to the header - font, padding, text location, background color, text color, font size */
  .header {
    font-family: 'Roboto', sans-serif;
    padding: 1px;
    text-align: center;
    background: linear-gradient(#4CB8C4 , #3CD3AD);
    color: rgb(0, 0, 0);
    font-size: 8px;
  }

  /* assigning properties to the playerTable class */
.playerTable {
    font-family: 'Roboto', sans-serif;
    color: rgb(255, 255, 255);
    border-collapse: separate;
    border-style: solid;
    border-color: #4CB8C4;
    border-width: 1px;
    position: absolute;
    top: 70%;
    left: 18%;
    overflow:auto;
  }

  /* assigning properties to the teamTable class */
  .teamTable {
    font-family: 'Roboto', sans-serif;
    color: rgb(255, 255, 255);
    border-collapse: separate;
    border-style: solid;
    border-color: #4CB8C4;
    border-width: 1px;
    position: absolute;
    top: 30%;
    left: 18%;
    overflow:auto;
  }

  th {
    font-family: 'Roboto', sans-serif;
    background: linear-gradient(#4CB8C4 , #3CD3AD);
    color: black;
  }
  td {
    font-family: 'Roboto', sans-serif;
    width: 150px;
    text-align: center;
    border: 1px solid black;
    padding: 5px;
  }
